In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("wikidata fapesp doutorado malária - Sheet1 (1).csv")

In [5]:
data.head()

,Unnamed: 0,Unnamed: 1,instancia de,espécie a que pertence,hospedeiro,substitui **,é substituido por ***,Unnamed: 7,quickstatement command
0,NaN,NaN,tipo celular,plasmodium falciparum,NaN,NaN,NaN,NaN,NaN
1,Len,Lpt,P31,P703,P2975,P1365,P1366,Q,NaN
2,NaN,Oocineto de Plasmodium,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Ovócito de Plasmodium,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Esporozoíto de Plasmodium,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data[['quickstatement command']]

                               quickstatement command
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16  CREATE\nLAST|Len|"Plasmodium falciparum oocyst...
17  \nCREATE\nLAST|Len|"Plasmodium falciparum spor...
18  \nCREATE\nLAST|Len|"liver schizont of Plasmodi...
19  CREATE\nLAST|Len|"Plasmodium falciparum merozo...
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN

In [10]:
data[["Unnamed: 1", 'quickstatement command']].iloc[19:]

,Unnamed: 1,quickstatement command
19,Merozoíto de Plasmodium falciparum,"CREATE\nLAST|Len|""Plasmodium falciparum merozo..."
20,Gametócito masculino de Plasmodium falciparum,"CREATE\nLAST|Len|""Male gametocyte of Plasmodiu..."
21,Gametócito feminino de Plasmodium falciparum,NaN
22,Gameta masculino de Plasmodium falciparum,NaN
23,Gameta Feminino de Plasmodium falciparum,NaN

In [19]:
print(data[['quickstatement command']].iloc[20][0])

CREATE
LAST|Len|"Male gametocyte of Plasmodium falciparum"
LAST|Lpt|"Gametócito masculino de Plasmodium falciparum"
LAST|P31|Q189118
LAST|P703|Q311383
LAST|P2975|Q5
LAST|P1365|Q66429544
Q66429544|P1366|LAST

In [67]:
def generate_qs_2(index):
    print("CREATE\n" + 
      'LAST|Len|' + '"' +
      data[["Unnamed: 0"]].iloc[index][0] + '"\n' +
      'LAST|Lpt|' + '"' +
      data[["Unnamed: 1"]].iloc[index][0] + '"\n' +
      "LAST|P31|Q189118" + '\n' +
      "LAST|" + data[["espécie a que pertence"]].iloc[1][0] + "|" + data[["espécie a que pertence"]].iloc[index][0] + "\n" +
      "LAST|" + data[["hospedeiro"]].iloc[1][0] + "|" + data[["hospedeiro"]].iloc[index][0] + "\n" + 
      "LAST|" + data[["substitui **"]].iloc[1][0]  + "|" + data[["Unnamed: 7"]].iloc[index-2][0] + "\n" + 
      data[["Unnamed: 7"]].iloc[index-2][0] + "|" + data[["é substituido por ***"]].iloc[1][0] + "|LAST" 
      )

In [68]:
generate_qs_2(21)

CREATE
LAST|Len|"female gametocyte of Plasmodium falciparum"
LAST|Lpt|"Gametócito feminino de Plasmodium falciparum"
LAST|P31|Q189118
LAST|P703|Q311383
LAST|P2975|Q5
LAST|P1365|Q66429544
Q66429544|P1366|LAST

In [97]:
data.iat[21,7] = 'Q66486500'

In [74]:
data.at["é substituido por ***",19] = 'Q66486500'

In [81]:
generate_qs_2(22)

CREATE
LAST|Len|"Male gamete of Plasmodium falciparum"
LAST|Lpt|"Gameta masculino de Plasmodium falciparum"
LAST|P31|Q189118
LAST|P703|Q311384
LAST|P2975|Q158597
LAST|P1365|Q66481302
Q66481302|P1366|LAST

In [99]:
generate_qs_2(23)

CREATE
LAST|Len|"Female gamete of Plasmodium falciparum"
LAST|Lpt|"Gameta Feminino de Plasmodium falciparum"
LAST|P31|Q189118
LAST|P703|Q311385
LAST|P2975|Q158597
LAST|P1365|Q66486500
Q66486500|P1366|LAST

In [98]:
data[["Unnamed: 7"]].iloc[23-2][0]

'Q66486500'

In [100]:
data.iat[23,7] = 'Q66486518'

In [101]:
data.iat[21,6] = 'Q66486518'

e agora para finalizar, vou fechar o ciclo

In [105]:
data.iat[23,7] + "|" +  data[["é substituido por ***"]].iloc[1][0] + "|" + data[["Unnamed: 7"]].iloc[15][0]

'Q66486518|P1366|Q66253483'

In [108]:
data.iat[22,7] = "Q66486505"

In [109]:
data.iat[22,7] + "|" +  data[["é substituido por ***"]].iloc[1][0] + "|" + data[["Unnamed: 7"]].iloc[15][0]

'Q66486505|P1366|Q66253483'